@charset "utf-8";
/* CSS Document */
body{
	background: #CCC;
}
#container{
	width: 980px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	border: solid 1px #000;
}
#header{
	width: 980px;
	height: 180px;
}
#logo{
	width: 180px;
	height: 180px;
	background: #252525;
	float: left;
}
#nav{
	width: 780px;
	height: 60px;
	background: #252525;
	float: left;
	margin-top: 60px;
	margin-left: 20px;
}
/*#clear:both;*/
#content{
	width: 980px;
	height: 540px;
	background: #252525;
	margin-top: 10px;
}
#footer{
	width: 980px;
	height: 200px;
	margin-top: 10px;
}
#footer1{
	width: 460px;
	height: 180px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	background: #252525;
	float: left;
}
#footer2{
	width: 460px;
	height: 180px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	background: #252525;
	float: left;
}